---
layout: default

---


<div class="row">
  <div class="span2">
<ul class="nav nav-list">
<li class="nav-header">Active Projects</li>
<li 
{% if page.url == '/projects/meta-analysis.html' %} 
    class="active" 
  {% endif %} ><a href="/projects/meta-analysis.html">Airway Meta Analysis</a></li>
<li {% if page.url == '/projects/premalignancy.html' %} 
    class="active" 
  {% endif %} ><a href="/projects/premalignancy.html">Lung Cancer Premalignancy</a></li>
</ul>
  </div>
  <div class="span10">
    <div class="borderleft" style="font-size: 13px;">
    {{ content }}
    </div>
  </div>
</div>
